<h1>{{ topic[1] }}</h1>

<a href="/">takaisin</a>

{% for i in messages %}
<hr>
    <p>
        <strong>{{ i.username }}</strong> - {{ i.message }} - {{ i.like_count }} - {{ i.sent_at }} 
        <form action="/like/{{ i.message_id }}" method="POST">
            <input type="hidden" name="topic_id" value="{{ topic.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit">tykkää</button>
        </form>
        {% if session.username == i.username %}
        <form action="/edit/{{ i.message_id }}" method="POST" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit">Muokkaa</button>
        </form>
        {% endif %}
    </p>
<hr>
{% endfor %}

<form action="/send" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    Viesti: <br>
    <textarea name="message" rows="3" cols="40"></textarea>
    <input type="hidden" name="topic_id" value="{{ topic.id }}">
    <br>
    <input type="submit" value="Lähetä">
</form>


