<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('assets', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keskustelupalsta</title>
</head>
<body>
{% with notifications = get_flashed_messages() %}
        {% if notifications %}
            <ul>
                {% for notification in notifications %}
                    <li style="color: red;">{{ notification }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>

<a href="/profile">Muokkaa profiilia</a>

Tästä voit valita keskusteluaiheen

<hr>
{% for topic in topics %}
<a href="/subjects/{{ topic[0] }}">{{ topic[1] }} </a>
<hr>
{% endfor %}

<b>Aloita uusi keskustelu</b>

<form action="/newtopic" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="text" name="topic">
    <input type="submit" value="Tee uusi">
</form>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<div class="header">
    <h1>Tervetuloa!</h1>
</div>
<p>Kirjaudu sisään</p>
<form action="/login" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<a href="/new">Rekisteröidy </a>

{% endif %}
</body>
</html>