{% with notifications = get_flashed_messages() %}
        {% if notifications %}
            <ul>
                {% for notification in notifications %}
                    <li style="color: red;">{{ notification }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
Tästä voit valita keskusteluaiheen

<hr>
{% for topic in topics %}
<a href="/subjects/{{ topic[0] }}">{{ topic[1] }} </a>
<hr>
{% endfor %}

<b>Aloita uusi keskustelu</b>

<form action="/newtopic" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="text" name="topic">
    <input type="submit" value="Tee uusi">
</form>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<h1>Tervetuloa!</h1>
<p>Kirjaudu sisään</p>
<form action="/login" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<a href="/new">Rekisteröidy </a>

{% endif %}