<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('assets', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keskustelupalsta</title>
</head>
<body>
    <h1>Profiilisi</h1>
    <p><strong>Käyttäjänimi:</strong> {{ profile.username }}</p>
    <p><strong>Kuvaus:</strong> {{ profile.bio }}</p>
    <p><strong>Rekisteröitymispäivämäärä:</strong> {{ profile.signup_date }}</p>
    <p><strong>Kotikaupunki:</strong> {{ profile.hometown }}</p>   
    <a href="/">Takaisin</a>
    <a href="/edit_profile">Muokkaa profiilia</a>
</body>

